/* ------------
      BASICS
   ------------ */

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-bg: #fcfcfc;
    --secondary-bg: #f5f5f5;
    --tertiary-bg: #ccc;

    --primary-text: rgba(0, 0, 0, .65);
    --secondary-text: #333;
    --tertiary-text: #777;

    --border-radius: .6em;
    --box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .2);

    --slide-length: 10px;
    --slide-slow: 275ms;
    --slide-fast: 150ms;

    --ease-in-out-expo: cubic-bezier(0.4, 0, 0.2, 1);
    --ease-in-out-quad: cubic-bezier(0.46, 0.03, 0.52, 0.96);
    --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media (prefers-reduced-motion) {

    :root {
        --slide-length: 0;
    }

}

html {
    font-size: 16px;
}

@media (min-width: 800px) {

    html {
        font-size: 17px;
    }

}

@media (min-width: 1400px) {

    html {
        font-size: 18px;
    }

}

body {
    color: var(--primary-text);
    background: var(--primary-bg);
    font: 1em/1.45 system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif;
    margin: 0;
}

h1,
h2,
h3 {
    color: var(--secondary-text);
}

h1 {
    line-height: 1;
}

h2,
h3 {
    line-height: 1.2;
}

a {
    color: var(--tertiary-text);
}

/* -----------------
       KEYFRAMES
   ----------------- */

@keyframes fade-in {

   0% {
       opacity: 0;
   }

   100% {
       opacity: 1;
   }

}

@keyframes fade-out {

   0% {
       opacity: 1;
   }

   100% {
       opacity: 0;
   }

}

@keyframes enter-top {

   0% {
       transform: translateY(calc(var(--slide-length) * -1));
   }

   100% {
       transform: translateX(0);
   }

}

@keyframes enter-left {

   0% {
       transform: translateX(calc(var(--slide-length) / (3/4)));
   }

   100% {
       transform: translateX(0);
   }

}

@keyframes exit-left {

   0% {
       transform: translateX(0);
   }

   100% {
       transform: translateX(calc(var(--slide-length) * -1));
   }

}

@keyframes enter-right {

   0% {
       transform: translateX(calc(var(--slide-length) * -1 / (3/4)));
   }

   100% {
       transform: translateX(0);
   }

}

@keyframes exit-right {

   0% {
       transform: translateX(0);
   }

   100% {
       transform: translateX(var(--slide-length));
   }

}

/* --------------
       HEADER
   -------------- */

header {
    --header-size: 3.75rem;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

@media (max-width: 600px) {

    header {
        --header-size: 10vw;
        /* height: 60vh; */
    }

}

.h1-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 2em;
}

header h1 {
    margin-top: 0;
}

.header-big {
    font-size: calc(var(--header-size) * 2.25);
}

.header-small {
    font-size: var(--header-size);
    font-weight: 200;
    letter-spacing: .15ch;
    text-transform: uppercase;
}

header span {
    display: block;
    animation: 1.4s both var(--ease-out-quad);
    animation-name: fade-in, enter-top;
}

header span:nth-child(1) {
    animation-delay: .2s;
}

header span:nth-child(2) {
    color: rgba(0, 0, 0, .5);
    animation-delay: .5s;
}

header span:nth-child(3) {
    animation-delay: .8s;
    font-size: calc(var(--header-size) * 1.1);
}

/* ------------
       MAIN
   ------------ */

/* @TODO: at <900px make it overflow and scroll */
.wiki-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    align-self: flex-start;

    width: 100vw;
    max-width: 75em;
    padding: 0 1em;
    animation: 1.2s 1.2s both var(--ease-out-quad);
    animation-name: fade-in, enter-top;
}

.wiki-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    max-height: 10em;
    padding: 1em 1.5em;
    position: relative;
    overflow: hidden;

    text-decoration: none;
    background-color: var(--secondary-bg);
    border-radius: var(--border-radius);
    box-shadow: /* https://brumm.af/shadows */
        0 2.4px 3.2px rgba(0, 0, 0, 0.053),
        0 8px 10.7px rgba(0, 0, 0, 0.077),
        0 36px 48px rgba(0, 0, 0, 0.13);


    /* needed for gainPerspective() in main.js */
    transition: transform .5s ease;
    transform: perspective(500px) rotateX(0) rotateY(0);
}

/* background image on a separate element so opacity can be changed */
.wiki-card::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    opacity: 0.6;
    filter: saturate(0.75);
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 1px 4px rgba(255, 255, 255, .5);
}

.wiki-card div {
    color: white;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
    text-shadow: 0 2px 10px rgba(0, 0, 0, .5);
}

.card-rs {
    background-color: #035384;
}

.card-rs::before {
    background-image: url(images/card-rs.jpg);
}

.card-osrs {
    background-color: #8a9450;
}

.card-osrs::before {
    background-image: url(images/card-osrs.jpg);
}

.card-ptbr {
    background-color: #9f7dcc;
}

.card-ptbr::before {
    background-image: url(images/card-ptbr.jpg);
}

.card-rsc {
    background-color: #a58141;
}

.card-rsc::before {
    background-image: url(images/card-rsc.jpg);
}

.container {
    max-width: 45em;
    padding: 0 2em;
    margin: 1em auto 5em;
}

@media (max-width: 600px) {

    .container {
        padding: 0 1em;
    }

}

/* ------------
       TABS
   ------------ */

.tab-heading {
    text-align: center;
    margin: 3rem 0 .5em;
}

.tabs {
    --tab-count: 4;
    --tab-gap: .2em;

    position: relative;
    overflow: hidden;
    top: 1em;
    z-index: 1; /* stop bg flicker when switching tabs */

    font-size: .9em;
    background-color: var(--secondary-bg);
    margin: 0 auto 3rem;
    border-radius: calc(var(--border-radius) + var(--tab-gap));
    max-width: 35em;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* @supports (backdrop-filter: blur(0)) or (-webkit-backdrop-filter: blur(0)) {

    .tabs {
        background-color: rgba(240, 240, 240, .7);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

} */

.tabs::before {
    content: '';
    position: absolute;
    width: calc(100% / var(--tab-count) - var(--tab-gap) * 2);
    height: calc(100% - var(--tab-gap) * 2);
    top: var(--tab-gap);
    left: var(--tab-gap);
    transform: translateX(calc(var(--index) * 100% + var(--index) * var(--tab-gap) * 2));
    transition: calc(var(--slide-slow) + var(--slide-fast)) transform var(--ease-in-out-expo);

    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.tabs input {
    position: absolute;
    opacity: 0;
}

.tabs label {
    position: relative;
    float: left;
    width: calc(100% / var(--tab-count));
    transition: calc(var(--slide-slow) + var(--slide-fast)) color var(--ease-in-out-expo);

    color: var(--tertiary-text);
    text-align: center;
    padding: 12px 0;
}

.tabs input:checked + label {
    color: var(--secondary-text);
}

.label-small {
    display: none;
}

@media (max-width: 450px) {

    .label-big {
        display: none;
    }

    .label-small {
        display: inline;
    }

}

/* --------------
      SECTIONS
   -------------- */

.section-rs,
.section-osrs,
.section-ptbr,
.section-rsc {
    display: none;
    animation-fill-mode: both;
    animation-timing-function: var(--ease-in-out-quad);
}

.section-visible {
    display: block;
}

.slide-left-fade-in {
    animation-name: enter-left, fade-in;
    animation-duration: var(--slide-slow);
}

.slide-left-fade-out {
    animation-name: exit-left, fade-out;
    animation-duration: var(--slide-fast);
}

.slide-right-fade-in {
    animation-name: enter-right, fade-in;
    animation-duration: var(--slide-slow);
}

.slide-right-fade-out {
    animation-name: exit-right, fade-out;
    animation-duration: var(--slide-fast);
}

@media (min-width: 400px) {

    .title-break {
        display: none;
    }

}

.callout {
    background: var(--secondary-bg);
    border-radius: var(--border-radius);
    padding: 1em 2em;
    margin: 2em -2em;
}

@media (max-width: 40em) {

    .callout {
        border-radius: 0;
    }

}