/* ------------
      BASICS
   ------------ */

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --bg-01: #f4f4f4;
    --bg-02: #fcfcfc;
    --bg-03: #fff;

    --text-01: rgba(0, 0, 0, .8);
    --text-02: rgba(0, 0, 0, .7);
    --text-03: rgba(0, 0, 0, .55);

    --font-stack: system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Helvetica', sans-serif;

    --shadow-01:
        0 30px 60px -8px rgba(50, 50, 93, .2),
        0 18px 36px -10px rgba(0, 0, 0, .3),
        0 -12px 36px -6px rgba(0, 0, 0, .025);
    --shadow-02:
        0 6px 10px -4px rgba(0, 0, 0, .2),
        0 18px 30px -8px rgba(0, 0, 0, .07);
    --shadow-03:
        0 4px 10px -4px rgba(0, 0, 0, .05),
        0 12px 24px 0 rgba(0, 0, 0, .04);

    --border-radius: .7em;

    --anim-length: 10px;
    --anim-slow: 275ms;
    --anim-fast: 150ms;

    --ease-in-out-expo: cubic-bezier(0.4, 0, 0.2, 1);
    --ease-in-out-quad: cubic-bezier(0.46, 0.03, 0.52, 0.96);
    --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media screen and (prefers-color-scheme: dark) {

    :root {
        --bg-01: #0a0a0a;
        --bg-02: #111;
        --bg-03: #1f1f1f;

        --text-01: rgba(255, 255, 255, .7);
        --text-02: rgba(255, 255, 255, .6);
        --text-03: rgba(255, 255, 255, .5);

        --shadow-01:
            0 30px 60px -8px rgba(0, 0, 0, .5),
            0 18px 36px -10px rgba(0, 0, 0, .4),
            0 -12px 36px -6px rgba(0, 0, 0, .2);
        --shadow-02:
            0 6px 10px -4px rgba(0, 0, 0, .2),
            0 18px 30px -8px rgba(0, 0, 0, .07);
        --shadow-03:
            0 5px 12px -4px rgba(0, 0, 0, .25),
            0 15px 30px 0 rgba(0, 0, 0, .25);
    }

}

@media screen and (prefers-reduced-motion) {

    :root {
        /* --anim-length: 0; */
    }

}

html {
    font-size: 16px;
}

@media screen and (min-width: 900px) {

    html {
        font-size: 17px;
    }

}

@media screen and (min-width: 1400px) {

    html {
        font-size: 18px;
    }

}

body {
    color: var(--text-02);
    background: var(--bg-02);
    font: 1em/1.45 var(--font-stack);
    margin: 0;
}

h1,
h2,
h3 {
    color: var(--text-01);
}

h1 {
    line-height: 1;
    margin: 0;
}

h2 {
    font-size: 1.75em;
}

h2,
h3 {
    line-height: 1.2;
    margin: 0 0 1rem;
}

section:not(:first-of-type) {
    margin-top: 8rem;
}

p {
    margin: 0 0 2em;
}

.link {
    color: #2073a7;
    text-decoration: none;
    cursor: pointer; /* for non-<a> links */
}

.link:hover {
    text-decoration: underline;
}

code {
    font-family: ui-monospace, 'Menlo', 'Courier', monospace;
}

@media screen and (prefers-color-scheme: dark) {

    .link {
        color: #46a2da;
    }

}

/* -----------------
       KEYFRAMES
   ----------------- */

@keyframes fade-in {

   0% {
       opacity: 0;
   }

   100% {
       opacity: 1;
   }

}

@keyframes fade-out {

   0% {
       opacity: 1;
   }

   100% {
       opacity: 0;
   }

}

@keyframes enter-top {

   0% {
       transform: translateY(calc(var(--anim-length) * -1));
   }

   100% {
       transform: translateY(0);
   }

}

@keyframes enter-left {

   0% {
       transform: translateX(calc(var(--anim-length) / (3/4)));
   }

   100% {
       transform: translateX(0);
   }

}

@keyframes exit-left {

   0% {
       transform: translateX(0);
   }

   100% {
       transform: translateX(calc(var(--anim-length) * -1));
   }

}

@keyframes enter-right {

   0% {
       transform: translateX(calc(var(--anim-length) * -1 / (3/4)));
   }

   100% {
       transform: translateX(0);
   }

}

@keyframes exit-right {

   0% {
       transform: translateX(0);
   }

   100% {
       transform: translateX(var(--anim-length));
   }

}

/* --------------
       HEADER
   -------------- */

header {
    --header-size: 4rem;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    /* transform: skewY(-4deg); */
}

.h1-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin: -3em 0 3.5em;
}

.h1-container span {
    display: block;
    animation: 1.4s both var(--ease-out-quad);
    animation-name: fade-in, enter-top;
}

.h1-container span:nth-child(1) {
    animation-delay: .2s;
    font-size: calc(var(--header-size) * 2.5);
    font-weight: 600;
}

.h1-container span:nth-child(2) {
    animation-delay: .5s;
    color: var(--text-03);
    font-size: var(--header-size);
    margin: .1em 0 -0.1em;
}

.h1-container span:nth-child(3) {
    animation-delay: .8s;
    font-size: calc(var(--header-size) * 1.25);
}

/* @TODO: at <900px make it overflow and scroll */
.wiki-cards {
    display: grid;
    grid-gap: 1em;
    align-self: flex-start;

    width: 100vw;
    max-width: 75em;
    padding: 0 2em;
    animation: 1.2s 1.2s both var(--ease-out-quad);
    animation-name: fade-in, enter-top;
}

.wiki-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9em;
    padding: 1em 1.5em;
    position: relative;

    text-decoration: none;
    background-color: var(--bg-01);
    border-radius: calc(var(--border-radius) * 1.1);
    box-shadow: var(--shadow-02);

    /* needed for gainPerspective() in main.js */
    transition: .75s ease;
    transform: perspective(750px);
}

/* background image on a pseudo-element so it can be manipulated separately */
.wiki-card::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    opacity: 0.6;
    filter: saturate(0.75);
    border-radius: calc(var(--border-radius) * 1.1);
    background-position: center;
    background-size: cover;
}

/* box-shadow on a pseudo-element so it can be manipulated separately */
.wiki-card::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border-radius: calc(var(--border-radius) * 1.1);
    box-shadow: var(--shadow-01);
    transition: .5s ease;
    opacity: 0;
}

.wiki-card span {
    color: white;
    font-size: 1.25em;
    line-height: 1.3;
    text-align: center;
    text-shadow: 0 2px 10px rgba(0, 0, 0, .5);
}

/* for card rotation */
.card-hover {
    transition-duration: .2s;
}

/* for box shadow */
.card-hover::after {
    opacity: 1;
}

.card-rs {
    background-color: #2e84b9;
}

.card-rs::before {
    background-image: url('../images/card-rs.jpg');
}

.card-osrs {
    background-color: #b2b548;
}

.card-osrs::before {
    background-image: url('../images/card-osrs.jpg');
}

.card-ptbr {
    background-color: #d292f3;
}

.card-ptbr::before {
    background-image: url('../images/card-ptbr.jpg');
}

.card-rsc {
    background-color: #e7a085;
}

.card-rsc::before {
    background-image: url('../images/card-rsc.jpg');
}

@media screen and (prefers-color-scheme: dark) {

    .wiki-card::before {
        filter: brightness(.5);
    }

}

@media screen and (max-width: 501px) {

    header {
        height: initial;
    }

    .h1-container {
        margin-top: 5em;
    }

    .wiki-cards {
        grid-template-columns: none;
        grid-gap: .75em;
    }

    .wiki-card {
        height: 7em;
    }

    .container {
        margin-top: 5em;
    }

}

@media screen and (min-width: 501px) and (max-width: 900px) {

    .wiki-cards {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 900px) {

    header {
        --header-size: 3.25rem;
    }

}

@media screen and (min-width: 900px) {

    .wiki-cards {
        grid-template-columns: repeat(4, 1fr);
    }

}

/* ------------
       MAIN
   ------------ */

.container {
    max-width: 800px;
    padding: 0 2em;
    margin: 2em auto;
}

.button {
    color: rgba(255, 255, 255, .9);
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    padding: 1.25em 1.75em;
    box-shadow: var(--shadow-02);
    border-radius: var(--border-radius);
    transition: transform .3s var(--ease-in-out-expo);
}

.button:hover {
    transform: translateY(-3px);
}

/* ------------
       TABS
   ------------ */

.tab-list {
    --tab-count: 4;
    --tab-gap: 5px;
    --border-radius: .6em;

    display: flex;
    position: relative;
    z-index: 1;

    background-color: var(--bg-01);
    border-radius: calc(var(--border-radius) + var(--tab-gap));
    margin: 2.5em auto 1em;
    width: 85%;
    max-width: 32em;
}

.tab-list::before {
    content: '';
    position: absolute;
    top: var(--tab-gap);
    left: var(--tab-gap);
    height: calc(100% - var(--tab-gap) * 2);
    width: calc(100% / var(--tab-count) - var(--tab-gap) * 2);
    transform: translateX(calc(var(--index) * 100% + var(--index) * var(--tab-gap) * 2));
    transition: calc(var(--anim-slow) + var(--anim-fast)) transform var(--ease-in-out-expo);

    background-color: var(--bg-03);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .1);
}

.tab {
    width: calc(100% / var(--tab-count));
    transition: calc(var(--anim-slow) + var(--anim-fast)) color ease-in-out;
    z-index: 1;

    color: var(--text-03);
    font: .9rem/1.45 var(--font-stack); /* override default button styles */
    background: none;
    border: none;
    padding: .95em 0;
}

.tab[aria-selected="true"] {
    color: var(--text-01);
}

/* hide focus ring when using a mouse (but keep it for keyboard navigation) */
.js-focus-visible .tab:focus:not(.focus-visible) {
    outline: none;
}

.label-short {
    display: none;
}

.tab-panel {
    animation-fill-mode: both;
    animation-timing-function: var(--ease-in-out-quad);
}

/* added via hideAndSlide() in main.js */
.slide-left-fade-in {
    animation-name: enter-left, fade-in;
    animation-duration: var(--anim-slow);
}

.slide-left-fade-out {
    animation-name: exit-left, fade-out;
    animation-duration: var(--anim-fast);
}

.slide-right-fade-in {
    animation-name: enter-right, fade-in;
    animation-duration: var(--anim-slow);
}

.slide-right-fade-out {
    animation-name: exit-right, fade-out;
    animation-duration: var(--anim-fast);
}

@media screen and (max-width: 550px) {

    .label-long {
        display: none;
    }

    .label-short {
        display: inline;
    }

}

/* ------------
       STATS
   ------------ */

.stats-grid {
    --breakout-margin: -5em;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    margin: 0 var(--breakout-margin) 3em;
}

.stat-header {
    margin: 0 0 .7rem;
}

.stat {
    background-color: var(--bg-03);
    padding: 1.25em;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-03);
}

.stat h3 {
    font-size: 1.1em;
}

.stat .icon {
    display: block;
    color: var(--text-03);
    background-color: var(--bg-01);
    border-radius: .4em;
    width: 36px;
    height: 36px;
    padding: 6px;
    margin-bottom: .5em;
}

/* stat number */
.stat dt {
    display: block;
    color: var(--stat-color);
    font-size: 3em;
    font-weight: bold;
    line-height: 1;
    margin-bottom: .5rem;
}

/* stat description */
.stat dd {
    margin-left: 0;
    font-size: .85em;
}

/* browser/country stats */
.stat ol {
    margin: .75em 0 0;
    padding-left: 0;
}

.stat li {
    color: var(--text-03);
    font-size: .9em;
    background-color: var(--bg-01);
    filter: brightness(1.015);
    border-radius: calc(var(--border-radius) * .4);

    position: relative;
    padding: 0 .5em;
    list-style: none;
}

.stat li + li {
    margin-top: .4em;
}

.stat li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background: linear-gradient(to right, var(--stat-color) var(--bar-size), transparent 0);
    border-radius: calc(var(--border-radius) * .4);
    filter: brightness(1.15) saturate(.7);
}

.stat li span {
    color: var(--text-02);
}

.section-rs .stat {
    --stat-color: #5cb1e4;
}

.section-osrs .stat {
    --stat-color: #70c653;
}

.section-ptbr .stat {
    --stat-color: #a09dfd;
}

.section-rsc .stat {
    --stat-color: #ec9385;
}

@media screen and (prefers-color-scheme: dark) {

    .stat li {
        background-color: var(--bg-02);
    }

    .stat li::before {
        filter: brightness(.9) contrast(1.1);
    }

    .stat .icon {
        background-color: var(--bg-02);
    }

    .section-rs .stat {
        --stat-color: #2985bd;
    }

    .section-osrs .stat {
        --stat-color: #58980d;
    }

    .section-ptbr .stat {
        --stat-color: #7774dc;
    }

    .section-rsc .stat {
        --stat-color: #b96a5e;
    }

}

@media screen and (max-width: 501px) {

    .container,
    .wiki-cards {
        padding: 0 1em;
    }

    .container {
        margin-top: 5em;
    }

    .stats-grid {
        grid-template-columns: none;
    }

    .stat {
        padding: 1.25em 1.5em;
    }

    .stat dt {
        float: left;
        margin: -0.25rem 1.5rem 0 0;
    }

    .stat .icon {
        display: none;
    }

}

@media screen and (min-width: 501px) and (max-width: 700px) {

    .stats-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 900px) {

    .stats-grid {
        margin-left: 0;
        margin-right: 0;
    }

}

/* --------------
       DYGRAPH
   -------------- */

.traffic-container {
    background-color: var(--bg-03);
    border-radius: var(--border-radius);
    padding: 1.5em 2em 2.25em;
    margin-top: 2.5em;
    box-shadow: var(--shadow-03);
    position: relative;
}

/* so content doesn't shift after graph loads */
.traffic-graph {
    width: 100% !important;
    height: 300px !important;
}

.traffic-title {
    color: var(--text-01);
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: .25em;
}

.traffic-legend {
    position: absolute;
    left: 2rem;
    font-size: .85rem;
    line-height: 1.4;
    pointer-events: none;
    z-index: 2;
}

.traffic-legend div:first-of-type {
    display: inline-block;
    background: var(--bg-03);
    padding: 7px 8px 0 0;
}

.traffic-legend div:last-of-type {
    background: var(--bg-03);
    padding: 4px 8px 4px 0;
    margin-top: -4px;
}

.dygraph-axis-label-x {
    color: var(--text-02);
    background: var(--bg-03);
    font-size: .85rem;
    padding-top: .75em;
}

.dygraph-annotation {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;

    font-weight: bold;
    background-color: #318cc4;
    color: white !important; /* override inline style */
    border: none !important; /* override inline style */
    border-radius: .4em;
    cursor: default; /* don't want text cursor appearing */
}

.tooltip-hidden .tooltip {
    opacity: 0;
    transform: translate(calc(-50% + 12px), 5px);
}

.tooltip {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 1;
    transform: translate(calc(-50% + 12px), 0); /* 12px = half of annotation width */
    transition: .2s ease;

    background-color: #318cc4;
    font-weight: normal;
    text-align: left;
    line-height: 1.3;
    border-radius: .4em;
    width: 180px;
    padding: .6em .9em;
    pointer-events: none;
    box-shadow: var(--shadow-02);
}

.tooltip div:first-of-type {
    color: rgba(255, 255, 255, .75);
    margin-bottom: .2em;
}

@media screen and (prefers-color-scheme: dark) {

    .dygraph-annotation,
    .tooltip {
        background-color: #196a9c;
    }

}

@media screen and (max-width: 900px) {

    .traffic-container {
        padding: 1em 1.5em 1.75em;
    }

}

/* --------------
        QUIZ
   -------------- */

.quiz-button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto 0;
    height: 7em;
}

.quiz-start {
    flex: 1;
    background-color: #7db381;
    border: none;
    margin: .5em;
    padding: .5em;
    height: 100%;
}

.quiz-group {
    margin: 3.5em auto 0;
    width: 75%;
}

.quiz-number {
    color: var(--text-03);
}

.quiz-question {
    color: var(--text-01);
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: .75em;
}

.quiz-choice-group {
    display: grid;
    grid-gap: .5em;
    padding-left: 0;
}

.quiz-choice {
    display: flex;
    align-items: center;
    background: var(--bg-01);
    border-radius: .3em;
    padding: .6em 1.2em;
    transition: .2s ease;
    transition-property: background-color, color;
}

.unanswered .quiz-choice:hover {
    background: #e9e9e9;
    cursor: pointer;
}

.selected,
.not-selected {
    padding-right: calc(1.2em + 25px); /* original padding + width of icon */
    background-size: 19px;
    background-repeat: no-repeat;
    background-position: calc(100% - 1.2em) center;
}

.selected.correct {
    color: white;
    background-image: url('../images/icons/check-light.svg');
    background-color: #7db381;
}

.not-selected.correct {
    color: #57a75c;
    background-image: url('../images/icons/check-green.svg');
}

.selected.incorrect {
    color: white;
    background-image: url('../images/icons/x-light.svg');
    background-color: #dc6f6f;
}

.quiz-explanation {
    color: var(--text-03);
    margin-top: 1em;
}

.quiz-results {
    display: none;
    border-top: 1px solid #ddd;
    padding-top: 2.5em;
    margin-top: 3em;
}

@media screen and (prefers-color-scheme: dark) {

    .quiz-start {
        color: var(--text-01);
        background-color: #276b2c;
    }

    .quiz-choice {
        background-color: var(--bg-03);
    }

    .unanswered .quiz-choice:hover {
        color: var(--text-01);
        background-color: #333;
    }

    .selected.correct {
        background-color: #276b2c;
    }

    .not-selected.correct {
        background-image: url('../images/icons/check-green-dark.svg');
    }

    .selected.incorrect {
        background-color: #9e2929;
    }

    .quiz-results {
        border-color: #555;
    }

}

@media screen and (max-width: 600px) {

    .quiz-group {
        width: 100%;
    }

}

/* --------------
       FOOTER
   -------------- */

footer.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: .85em;
    margin-top: 10em;
    margin-bottom: 10em;
}

footer h3 {
    margin-bottom: .5em;
}

.about {
    flex: 1;
}

.links {
    margin-left: 3em;
}

.links ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.links li {
    margin-bottom: .35em;
}

.socials {
    margin-top: 1.5em;
}

.social {
    display: inline-block;
}

.social + .social {
    margin-left: .75em;
}

.discord {
    background-color: #7389da;
}

.twitter {
    background-color: #1ea1f1;
}

@media screen and (prefers-color-scheme: dark) {

    .discord {
        background-color: #4760bf;
    }

    .twitter {
        background-color: #037dc7;
    }

}

@media screen and (max-width: 700px) {

    .links {
        flex: 1 100%;
        margin: 1.5em 0 0;
    }

}